*.BIN64 linguist-language=Shell linguist-detectable
*.l     linguist-language=Lex linguist-detectable
*.asm   linguist-language=Assembly linguist-detectable
*.s     linguist-language=Assembly linguist-detectable
